*{
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 16px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.weather {
    background: black;
    color: white;
    opacity: 0.8;
    padding: 2em;
    border-radius: 40px;
    width: 100%;
    align-items: center;
    margin: 1em;
    border: 3px solid red;  
}
.location-and-date {
  width: 100%;
}
.city {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
}
.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-btn {
    margin: 0.4em;
    border-radius: 35px;
    width: 2.5em;
    height: 2.5em;
    border: none;
    outline: none;
}
.search-bar {
    border:none;
    outline: none;
    border-radius: 18px;
    color:black;
    font-family: inherit;
    padding: 0.5em 1em;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

.select {
    width: 12em;
    border:none;
    outline: none;
    padding: 0.6em;
    border-radius: 18px;
    color:black;
    font-family: inherit;
    padding: 0.5em 1em;
}

#label {
    display: block;
    font-size: 0.8em;
    margin-bottom: 0.3em;
}
.main-container {  
  display: flex;  
  flex-wrap: wrap;  
}  
.hourly-weather {
    width: 100%;
}
.daily-weather {
    width: 100%;
}
.current-temperature {  
  display: flex;  
  justify-content: space-evenly;  
  border: 3px solid red;  
}  
.current-temperature-container {  
  display: flex;  
  margin-top: 0.25em;   
  border: 3px solid red;  
}  
.icon-container {    
  text-align: center;  
  border: 3px solid red;  
}  
content-container {  
  text-align: center;  
  border: 3px solid white;  
}  
  
.icon {  
  width: 6em;  
  border: 3px solid red; 
  
}  
.temp {  
  font-size: 5em;  
  font-weight: 300;  
}  
  
.description {  
  font-size: 1.125em; 
  border: 3px solid red;   
}
.current-stats {  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  width: 100%;
  margin-top: 1em;
}  

@media screen and (min-width: 768px) {
  .hourly-weather {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .temp,
  .current-stats {
    width: 50%;
  }
}
@media screen and (min-width: 1140px) {
  .main-container {
    width: 1120px;
    margin: 16px auto;
    font-size: 1.1em;
  }
}
.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat-description {
    font-size: 0.9em;
}
.stat {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.25em;
}

.current-stats: